<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

    <title>Asegura tu Hogar - La Positiva</title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://aseguratuhogar.com.pe/">
    <meta property="og:title" content="Asegura tu Hogar - La Positiva">
    <meta property="og:site_name" content="La Positiva">
    <meta property="og:description" content="">
    <meta property="og:image" content="http://aseguratuhogar.com.pe/images/img/logo_color.png">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

		<link rel="stylesheet" type="text/css" href="{site_url}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{site_url}css/bootstrapValidator.min.css" />
		<link rel="stylesheet" type="text/css" href="{site_url}css/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- WebFonts -->
    <script async type="text/javascript" src="//use.typekit.net/ynk6roa.js"></script>
    <script async type="text/javascript">try{Typekit.load();}catch(e){}</script>		
	</head>