<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

    <title>Asegura tu Hogar - La Positiva</title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="La Positiva" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://aseguratuhogar.com.pe/">
    <meta property="og:title" content="ASEGURAR TU CASA NUNCA FUE TAN FÁCIL">
    <meta property="og:site_name" content="La Positiva">
    <meta property="og:description" content="Cotiza tu seguro domiciliario con la positiva en linea, rápido y sencillo">
    <meta property="og:image" content="http://aseguratuhogar.com.pe/images/img/logo-redes.png">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="ASEGURAR TU CASA NUNCA FUE TAN FÁCIL">
    <meta name="twitter:url" content="http://aseguratuhogar.com.pe/">
    <meta name="twitter:description" content="Cotiza tu seguro domiciliario con la positiva en linea, rápido y sencillo">
    <meta name="twitter:site" content="@LaPositiva_Peru">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="http://aseguratuhogar.com.pe/images/img/logo-redes.png">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

		<link rel="stylesheet" type="text/css" href="{site_url}css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="{site_url}css/bootstrapValidator.min.css" />
		<link rel="stylesheet" type="text/css" href="{site_url}css/main.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!-- WebFonts -->
    <script async type="text/javascript" src="//use.typekit.net/ynk6roa.js"></script>
    <script async type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--[if lt IE 9]>
    <script src="{site_url}js/html5shiv.min"></script>
    <![endif]-->	
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48615810-3', 'auto');
      ga('send', 'pageview');
    </script>	
	</head>