/*
Syntax error: Invalid CSS after "		color: #333": expected ";", was ".title{"
        on line 54 of app\views\_avaluo.scss
        from line 28 of app\_app.scss
        from line 67 of main.scss

49: 	background-color: #FFE1CC;
50: 	padding: 1rem;
51: 	margin-bottom: 1rem;
52: 	.local{
53: 		color: #333
54: 		.title{
55: 			font-weight: bold;
56: 		}
57: 	}
58: }

Backtrace:
app\views\_avaluo.scss:54
app\_app.scss:28
main.scss:67
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:1306:in `expected'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:1242:in `expected'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:1237:in `tok!'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:687:in `block in declaration_or_ruleset'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:1282:in `call'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:1282:in `rethrow'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:655:in `block_child'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:644:in `block_contents'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:636:in `block'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:629:in `ruleset'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:692:in `block in declaration_or_ruleset'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:1282:in `call'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:1282:in `rethrow'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:693:in `declaration_or_ruleset'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:655:in `block_child'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:647:in `block_contents'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:636:in `block'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:629:in `ruleset'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:654:in `block_child'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:647:in `block_contents'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:116:in `stylesheet'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/scss/parser.rb:41:in `parse'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/engine.rb:409:in `_to_tree'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/engine.rb:305:in `to_tree'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:88:in `with_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:297:in `map'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:88:in `with_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:121:in `with_frame'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/stack.rb:79:in `with_base'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:152:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:151:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/engine.rb:274:in `render'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `each'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/lib/sass/plugin/compiler.rb:248:in `block in watch'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/vendor/listen/lib/listen/listener.rb:252:in `call'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/vendor/listen/lib/listen/listener.rb:252:in `on_change'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
c:/Ruby200/lib/ruby/gems/2.0.0/gems/sass-3.3.5/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"		color: #333\": expected \";\", was \".title{\"\A         on line 54 of app\views\_avaluo.scss\A         from line 28 of app\_app.scss\A         from line 67 of main.scss\A \A 49: 	background-color: #FFE1CC;\A 50: 	padding: 1rem;\A 51: 	margin-bottom: 1rem;\A 52: 	.local{\A 53: 		color: #333\A 54: 		.title{\A 55: 			font-weight: bold;\A 56: 		}\A 57: 	}\A 58: }"; }
