{embed="includes/header"}   
  {exp:get_post_vars parse="inward"}
      <body>
        <header class="pb-7-100 pt-7-100">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-8 center-block">
                <div class="header-text">
                  <p class="text-medium">Tu inmueble esta avaluado</p>
                {exp:get_planes:get_rango_planes rango_id="{post_valor_vivienda}"}
                  <p class="text-xlarge bold">{rango}</p>
                {/exp:get_planes:get_rango_planes}
                  <p class="text-small">Aplicas para</p>
                  <p class="text-xlarge uppercase">hogar positivo</p>
                </div>
              </div>
            </div>  
          </div>
        </header>
      {exp:get_planes:get_planes_por_monto monto="{post_valor_vivienda}"}
        <section class='content pb-7-100 pt-7-100'>
          <div class='container text-center'>
            <div class="row">
              <div class="col-md-8 center-block">
                <h2 class="text-large uppercase bold pb-7-100">que te cubre</h2>
                <p class='text-small gray-color'>Todo riesgo de incendio y explosión, terremoto y riesgos de la naturaleza, terrorismo y riesgos políticos.</p>
                <a href="#" class='link text-small blue'>Más información</a>
                <p class='text-small uppercase blue bold pb-7-100 pt-7-100'>Es opcional para robo o intento de robo</p>
                <p class='text-small gray-color'>Hasta S/. {hasta}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8 col-sm-10 col-md-6 center-block pt-7-100">
                <div class="row">
  
                  <div class="col-md-5 col-sm-5 mb-14-100">
                    <div class="price-block">
                      <div class="row">
                        <div class="col-xs-10 col-md-10 col-sm-10">
                          <span class='text-small uppercase'>sin robo</span>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2 pb-14">
                          <span class="icon-checkmark"></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <p class='text-large uppercase bold'>s/. {sin_robo}</p>
                          <p class='text-xsmall uppercase'>prima mensual</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2 mb-14-100">
                    <div class="price-block">
                      <div class="row">
                        <div class="col-xs-10 col-md-10 col-sm-10">
                          <span class='text-small uppercase'>sin robo</span>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2 pb-14">
                          <span class="icon-checkmark"></span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <p class='text-large uppercase bold'>s/. {con_robo}</p>
                          <p class='text-xsmall uppercase'>prima mensual</p>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
            {/exp:get_planes:get_planes_por_monto}
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 center-block">
                <div class="row">
                  <div class="form-group download-phone">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="row mb-7-100"> 
                        <input type="radio" name="radios" id="radios-0" value="1">
                        <label class="radio-inline col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 pt-7-100 pb-7-100" for="radios-0">
                          descarga tu cotizacion
                        </label> 
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="row mb-7-100"> 
                        <input type="radio" name="radios" id="radios-1" value="2">
                        <label class="radio-inline col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-11 col-md-offset-1 pt-7-100 pb-7-100" for="radios-1">
                          contactanos por telefono
                        </label>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </section>
        <footer class="pb-49 pt-7-100">
          <div class="container pb-49">
            <div class="row">
              <div class="col-md-10 center-block">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-md-5">
                    <form class="form-horizontal" method="post" action="/?/content/registro">
                      <h2 class="white uppercase bold">completa tus datos</h2>
                      <div class="row">
                        <!-- Text input-->
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pr-7">
                            <input id="textinput" name="name" type="text" placeholder="Nombre" class="form-control input-md"> 
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pl-7">
                            <input id="textinput" name="last_name" type="text" placeholder="Apellido" class="form-control input-md">
                          </div>
                        </div>
                      </div>


                      <!-- Text input-->
                      <div class="form-group">
                        <input id="textinput" name="email" type="text" placeholder="Correo electrínico" class="form-control input-md">
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <input id="textinput" name="dni" type="text" placeholder="DNI" class="form-control input-md">
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <input id="textinput" name="phone" type="text" placeholder="Telefono" class="form-control input-md">
                      </div>

                      <!-- Button -->
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-offset-6 col-md-6 col-md-offset-6">
                            <input type="submit" value="ENVIAR  " id="singlebutton" name="singlebutton" class="btn btn-primary col-xs-12 col-sm-12 col-md-12">
                          </div>
                        </div>  
                      </div>
                    </form>
                  </div>
                  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
                    <form class="form-horizontal">
                      <h2 class="white uppercase bold">busca el punto de venta más cercano</h2>
                      <div class="row">
                        <!-- Text input-->
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pr-7">
                            <!-- <input id="textinput" name="textinput" type="text" placeholder="Departamento" class="form-control input-md"> --> 
                            <span class="selector">
                                   {exp:get_puntos_de_venta:region}
                            </span> 
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pl-7">
                            <!-- <input id="textinput" name="textinput" type="text" placeholder="Ciudad/Distrito" class="form-control input-md"> -->
                            <span class="selector">
                              <select name="distrito" id="distrito" class="form-control">
                                 {exp:get_puntos_de_venta:district region="@@@"}
                              </select>
                            </span>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 result">
                          </div>
                      </div>                      

                      <!-- Button -->
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-offset-6 col-md-6 col-md-offset-6">
                            <input type="submit" value="BUSCAR  " id="singlebutton" name="singlebutton" class="btn btn-primary col-xs-12 col-sm-12 col-md-12">
                          </div>
                        </div>  
                      </div>
                    </form>
                  </div>   
                </div>
              </div>
            </div>      
          </div>
          <div class="container-fluid">
            <div class="row social-networks">
              <div class="col-md-12">
                <ul class="nav nav-pills">
                  <li><a href="#" class="icon-facebook"></a></li>
                  <li><a href="#" class="icon-twitter"></a></li>
                  <li><a href="#">Términos y condiciones</a></li>
                  <li><a href="#">Contáctanos</a></li>
                  <li class="pull-right"><a href="#"><img class="right" src="assets/images/logo_blanco.png"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </body>
  {/exp:get_post_vars}
{embed="includes/footer"} 
