{embed="includes/header"}   
  {exp:get_post_vars parse="inward"}
      <body>
        <header class="pb-7-100 pt-7-100">
          <div class="container text-center">
            <div class="row">
              <div class="col-md-9 center-block">
                <div class="header-text">
                  <p class="text-medium">Tu inmueble esta avaluado</p>
                {exp:get_planes:get_rango_planes rango_id="{post_valor_vivienda}"}
                  <p class="text-xlarge alt-bold">{rango}</p>
                {/exp:get_planes:get_rango_planes}
                  <p class="text-small">Aplicas para</p>
                  <p class="text-xlarge uppercase">hogar positivo</p>
                </div>
              </div>
            </div>  
          </div>
        </header>
      {exp:get_planes:get_planes_por_monto monto="{post_valor_vivienda}"}
        <section class='content pb-7-100 pt-35'>
          <div class='container text-center'>
            <div class="row">
              <div class="col-md-8 center-block">
                <h2 class="text-large uppercase alt-bold pb-21">que te cubre</h2>
                <p class='text-small gray-color'>Todo riesgo de incendio y explosión, terremoto y riesgos de la naturaleza, terrorismo y riesgos políticos.</p>
                <a href="#" class='link text-small blue'>Más información</a>
                <p class='text-small uppercase blue alt-bold pb-21 pt-21'>Es opcional para robo o intento de robo</p>
                <p class='text-small gray-color'>Hasta S/. {hasta}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-8 col-sm-10 col-md-6 center-block pt-35 alt-bold">
                <div class="row">
  
                  <div class="col-md-5 col-sm-5 mb-14-100">
                    <div class="price-block">
                      <div class="row">                  
                        <div class="col-xs-9 col-md-9 col-sm-9">
                          <label class="uppercase text-xsmall pt-14 pb-14" for="conrobo">
                            con robo
                          </label>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2">
                          <input type="radio" name="robo" id="conrobo" value="{id_con_robo}">
                        </div>   
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <p class='price text-large uppercase'>s/. {price_con_robo}</p>
                          <p class='text-xsmall uppercase'>prima mensual</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 col-sm-5 col-md-offset-2 col-sm-offset-2 mb-14-100">
                    <div class="price-block">
                      <div class="row">
                        <div class="col-xs-9 col-md-9 col-sm-9">
                          <label class="uppercase text-xsmall pt-14 pb-14" for="sinrobo">
                            sin robo
                          </label>
                        </div>
                        <div class="col-xs-2 col-md-2 col-sm-2">  
                          <input type="radio" name="robo" id="sinrobo" value="{id_sin_robo}">
                        </div>   
                      </div>
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                          <p class='price text-large uppercase'>s/. {price_sin_robo}</p>
                          <p class='text-xsmall uppercase'>prima mensual</p>
                        </div>
                      </div>
                    </div>
                  </div> 

                </div>
            {/exp:get_planes:get_planes_por_monto}
              </div>
            </div>
            <div class="row">
              <div class="col-md-9 center-block">
                <div class="row">
                  <div class="form-group download-phone">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="row mb-7-100"> 
                        <input type="radio" name="radios" id="radios-0" value="1">
                        <label class="radio-inline col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 pt-7-100 pb-7-100" for="radios-0">
                          descarga tu cotizacion
                        </label> 
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                      <div class="row mb-7-100"> 
                        <input type="radio" name="radios" id="radios-1" value="2">
                        <label class="radio-inline col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-11 col-md-offset-1 pt-7-100 pb-7-100" for="radios-1">
                          contactanos por telefono
                        </label>
                      </div>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </section>
        <footer class="pb-49 pt-7-100">
          <div class="container pb-49">
            <div class="row">
              <div class="col-md-10 center-block">
                <div class="row">
                  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-md-5">
                    <form class="form-horizontal registro" method="post" action="/?/content/registro">
                      <h2 class="white uppercase alt-bold pb-35">completa tus datos</h2>
                      <div class="row">
                        <!-- Text input-->
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pr-7">
                            <input id="textinput" name="name" type="text" placeholder="Nombre" class="form-control input-md" data-bv-notempty="true" data-bv-notempty-message="Este campo no puede estar vacío"> 
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pl-7">
                            <input id="textinput" name="last_name" type="text" placeholder="Apellido" class="form-control input-md" data-bv-notempty="true" data-bv-notempty-message="Este campo no puede estar vacío">
                          </div>
                        </div>
                      </div>


                      <!-- Text input-->
                      <div class="form-group">
                        <input id="textinput" name="email" type="text" placeholder="Correo electrínico" class="form-control input-md" data-bv-notempty="true" data-bv-notempty-message="Este campo no puede estar vacío" data-bv-emailaddress="true" data-bv-emailaddress-message="El email no es valido">
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <input id="textinput" name="dni" type="text" placeholder="DNI" class="form-control input-md" data-bv-notempty="true" data-bv-notempty-message="Este campo no puede estar vacío">
                      </div>

                      <!-- Text input-->
                      <div class="form-group">
                        <input id="textinput" name="phone" type="text" placeholder="Telefono" class="form-control input-md" data-bv-notempty="true" data-bv-notempty-message="Este campo no puede estar vacío">
                      </div>

                      <!-- Button -->
                      <div class="row">
                        <div class="form-group">
                          <div class="col-sm-offset-6 col-md-6 col-md-offset-6">
                            <input type="submit" value="ENVIAR  " id="singlebutton" name="singlebutton" class="btn btn-primary col-xs-12 col-sm-12 col-md-12">
                          </div>
                        </div>  
                      </div>
                      <input type="hidden" name="id_seguro" id="id_seguro" value="">
                      <input type="hidden" name="housing_value" value="{post_valor_vivienda}">
                      <input type="hidden" name="housing_type" value="{post_tipo_vivienda}">
                      <input type="hidden" name="province" value="{post_provincia}">  
                      <input type="hidden" name="city" value="{post_ciudad}">                       
                    </form>
                  </div>
                  <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1">
                    <form class="form-horizontal buscar">
                      <h2 class="white uppercase alt-bold">busca el punto de venta más cercano</h2>
                      <div class="row">
                        <!-- Text input-->
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pr-7">
                            <!-- <input id="textinput" name="textinput" type="text" placeholder="Departamento" class="form-control input-md"> --> 
                            <span class="selector">
                                   {exp:get_puntos_de_venta:region}
                            </span> 
                          </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                          <div class="form-group pl-7">
                            <!-- <input id="textinput" name="textinput" type="text" placeholder="Ciudad/Distrito" class="form-control input-md"> -->
                            <span class="selector">
                              <select name="distrito" id="distrito" class="form-control">
                                 {exp:get_puntos_de_venta:district region="@@@"}
                              </select>
                            </span>

                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 result">
                          </div>
                      </div>                      

                      <!-- Button -->
                      <!-- <div class="row">
                        <div class="form-group">
                          <div class="col-sm-offset-6 col-md-6 col-md-offset-6">
                            <input type="submit" value="BUSCAR  " id="singlebutton" name="singlebutton" class="btn btn-primary col-xs-12 col-sm-12 col-md-12">
                          </div>
                        </div>  
                      </div> -->
                    </form>
                  </div>   
                </div>
              </div>
            </div>      
          </div>
          <div class="container-fluid">
            <div class="row social-networks">
              <div class="col-md-12">
                <ul class="nav nav-pills">
                  <li><a href="http://www.facebook.com/LaPositivaSeguros" target"_blank" class="icon-facebook"></a></li>
                  <li><a href="http://twitter.com/LaPositiva_Peru" target"_blank" class="icon-twitter" target"_blank"></a></li>
                  <li><a data-toggle="modal" href="#terms">Términos y condiciones</a></li>
                  <li><a data-toggle="modal" href="#contact">Contáctanos</a></li>
                  <li class="pull-right" style="display:inline-block"><a href="#" display:inline-block><img class="right" src="{site_url}/images/img/logo_blanco.png"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </body>
  {/exp:get_post_vars}
{embed="includes/footer"} 
