{exp:get_post_vars parse="inward"}
	<div style="font-family:Arial, sans-serif;">
		<div style="text-align:left">
			 <img src="{site_url}/images/img/lapositiva.png" width="150"alt="la-postiva">
		</div>
		<div style="text-align:center;">
		    <h1>Cotización Pack Vehicular La Positiva</h1>
		</div>
		Hola <b>{get_name} {get_lastname}</b><br>
		<br>
		Muchas gracias por cotizar tu Pack Vehicular de La Positiva. Lleva tu cotización a cualquier punto de venta de La Positiva y adquiere tu seguro en un instante.<br>
		<br>
		Los detalles de tu cotización son los siguientes:<br>
		<br>
		<b>Datos del Plan cotizado:</b><br>
		*Todo Riesgo de Incendio y Explosión Terremoto y Riesgos de la Naturaleza Terrorismo y Riesgos Políticos <span>{get_coverage_uno}</span><br>
		*Gastos Extraordinarios <span>{get_coverage_dos}</span><br>
		*Rotura Accidental de Vidrios <span>{get_coverage_tres}</span><br>
		*Responsabilidad Civil Extracontractual <span>{get_coverage_cuatro}</span><br>
		*Robo o Intento de Robo (opcional) <span>{get_coverage_cinco}</span><br>
		*Con Robo: <span>{get_robo}</span><br>
		*Precio: <span>{get_precio}</span><br>



		<br>
		<div style="text-align:right;">
			 <img src="{site_url}/images/img/lapositiva.png" width="150"alt="la-postiva">
		</div>
		<div style="color:#FF5522;text-align:center;">
			<p style="font-size: 75%;">Lima - Cusco - Piura - Arequipa - Cajamarca - Ica - Chiclayo - Iquitos - Puno - Lambayeque - Trujillo - Tacna - Ucayali - Junin - Ancash</p>
		</div>
	</div>
{/exp:get_post_vars}