{exp:get_post_vars parse="inward"}
<?php  
	$name = $_GET['name'];
	$lastname = $_GET['lastname'];
	$name = str_replace("_", " ",$name);
	$lastname = str_replace("_", " ",$lastname);
?>
	<div style="font-family:Arial, sans-serif;">
		<div style="text-align:left">
			 <img src="{site_url}/images/img/lapositiva.png" width="150"alt="la-postiva">
		</div>
		<div style="text-align:center;">
		    <h1>Cotización Seguro Domiciliario La Positiva</h1>
		</div>
		Hola <b><?php echo $name." ".$lastname; ?></b><br>
		<br>
		Muchas gracias por cotizar tu Seguro Domiciliario de La Positiva. Lleva tu cotización a cualquier punto de venta de La Positiva y adquiere tu seguro en un instante.<br>
		<br>
		Los detalles de tu cotización son los siguientes:<br>
		<br>
		<b>Datos del Plan cotizado:</b><br>
		*Todo Riesgo de Incendio y Explosión Terremoto y Riesgos de la Naturaleza Terrorismo y Riesgos Políticos: <span>S/.{get_coverage_uno}</span><br>
		*Gastos Extraordinarios: <span>S/.{get_coverage_dos}</span><br>
		*Rotura Accidental de Vidrios: <span>S/.{get_coverage_tres}</span><br>
		*Responsabilidad Civil Extracontractual: <span>S/.{get_coverage_cuatro}</span><br>
		*Robo o Intento de Robo (opcional): <span>S/.{get_coverage_cinco}</span><br>
		*Con Robo: <span>{get_robo}</span><br>
		*Precio: <span>S/.{get_precio}</span><br>
		<br>
		<b>Datos del propietario:</b><br>
		 * Nombre: {get_name} {get_lastname}<br>
		 * Teléfono: {get_telefono}<br>
		<br>
		Si tienes alguna duda o si este correo te ha llegado sin haber realizado una cotización en línea, por favor escríbenos al siguiente correo: lineapositiva@lapositiva.com o llámanos al 211-0212 desde Lima o al 749001 desde provincias.<br>
		<br>
		Muchas gracias,<br>
		<br>
		El equipo de La Positiva Seguros <br>
		www.lapositiva.com.pe<br>


		<br>
		<div style="text-align:right;">
			 <img src="{site_url}/images/img/lapositiva.png" width="150"alt="la-postiva">
		</div>
		<div style="color:#FF5522;text-align:center;">
			<br><br>
			<p style="font-size: 75%;">Lima - Cusco - Piura - Arequipa - Cajamarca - Ica - Chiclayo - Iquitos - Puno - Lambayeque - Trujillo - Tacna - Ucayali - Junin - Ancash</p>
		</div>
	</div>
{/exp:get_post_vars}