{embed="includes/header"}   
  <body class="landing"> 
    <!-- Modal -->
    <div id="terms" class="modal fade gray-base">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Términos y Condiciones</h4>
          </div>
          <div class="modal-body">
            <h3 class="text-center orange">TERMINOS Y CONDICIONES</h3>
            <h4><b>AVISO LEGAL</b></h4><br>
            <h4><b>CONDICIONES GENERALES DE USO</b></h4>
            <p>Los Términos y Condiciones de Uso que a continuación se describen son de carácter general y resultan aplicables al uso del contenido, productos y/o servicios disponibles bajo el sitio web www.soatlapositiva.com.pe  u otros sites de productos de La Positiva Seguros. Al ingresar el usuario a este sitio web, declara haber leído los Términos y Condiciones de uso aquí señalados,  y asimismo haber comprendido y aceptado el contenido de éstos.</p><br>
            <h4 class="orange"><b>Derechos de autor: la positiva seguros y reaseguros se reserva todos los derechos</b></h4>
            <p>El contenido, elaboración, desarrollo y derechos sobre este sitio web se encuentran protegidos a favor de La Positiva Seguros, bajo la normativa vigente sobre derechos de autor, , salvo que se indique algo distinto. Se encuentra expresamente prohibido, la modificación, reproducción, distribución o cualquier otro acto de disposición de los derechos de autor involucrados sin que exista  consentimiento previo y expreso de LA POSITIVA SEGUROS Y REASEGUROS.</p><br>
            <h4 class="orange"><b>Derechos de propiedad intelectual - marcas registradas</b></h4>
            <p>Se encuentra expresamente prohibido que las marcas registradas a nombre de La Positiva Seguros y Reaseguros contenidas en esta web sean copiadas, reproducidas, modificadas o utilizadas de cualquier forma que afecte los derechos de propiedad intelectual que LA POSITIVA SEGUROS Y REASEGUROS tiene sobre ellas.</p><br>
            <h4 class="orange"><b>Uso de información y de materiales</b></h4>
            <p>La información y materiales contenidos en este sitio web y/o cualquiera de sus páginas, así como los Términos y Condiciones aquí establecidos,  se encuentran sujetos a cambios. LAPOSITIVA SEGUROS Y REASEGUROS realiza   las acciones necesarias para brindar información actualizada y exacta. Sin perjuicio de lo señalado, los usuarios  en todo momento podrán acudir a nuestras  plataformas de atención al usuario ubicadas en nuestras oficinas a nivel nacional,  así como contactarnos a través de nuestra Linea Positiva al 211-0211 donde podrán recibir toda la información actualizada de los productos  y servicios que LA POSITIVA SEGUROS Y REASEGUROS ofrece.
            Los productos y/o servicios mencionados en este sitio Web no se encuentran disponibles en todas las áreas geográficas del Perú, es por ello que le recomendamos consultar la disponibilidad de los mismos a través de cualquiera de nuestros  canales de atención antes mencionados. 
            La asegurabilidad de cualquier persona o bien bajo los productos y servicios mencionados en este sitio web se encuentra sujeta a la evaluación final de LA POSITIVA SEGUROS Y REASEGUROS.
            Se prohíbe estrictamente el uso no autorizado de este sitio Web y de los sistemas LA POSITIVA SEGUROS Y REASEGUROS para fines distintos a los aquí establecidos.</p><br>
            <h4 class="orange"><b>Enlaces</b></h4>
            <p>Este sitio web puede contener enlaces a otros sitios web controlados u ofrecidos por otras empresas o terceras personas, no vinculadas con LA POSITIVA SEGUROS Y REASEGUROS, por tanto nuestra Compañía declara que no se hace responsable de la  información, materiales, productos o servicios que aparezcan o que se ofrezcan en cualquiera de estos sitios web. Asimismo, expresamente señalamos que LA POSITIVA SEGUROS Y REASEGUROS no apoya ni recomienda ningún producto, servicio que se ofrezca a través de otros sitios. Hacemos de conocimiento que dichos sitios web pueden presentar  condiciones y términos de uso y política de privacidad distintos a los de LA POSITIVA SEGUROS Y REASEGUROS,  así como proveer menos seguridad de la que ofrece el mini sitio web de LA POSITIVA SEGUROS Y REASEGUROS.</p><br>
            <h4 class="orange"><b>Límites de responsabilidad por fallas informaticas y afines</b></h4>
            <p>LA POSITIVA SEGUROS Y REASEGUROS no se hará responsable por alguna clase de daño directo o indirecto, incidentales, pérdidas o gastos que surjan en relación a este sitio web, o a cualquier otro sitio web enlazado a éste, o en conexión al uso de éstos, a consecuencia de la falta de capacidad para usarlos o el mal manejo que pudiera dar cualquier usuario, así como tampoco debido a cualquier interrupción, defecto, virus de computadora, demora en la operación,  transición o falla del sistema.</p><br>
            <h4 class="orange"><b>Información entregada a la positivia seguros & reaseguros</b></h4>
            <p>Ley N° 29733 - Ley de Protección de Datos Personales
            De conformidad con lo establecido en la Ley de Protección de Datos Personales - y su Reglamento, el Asegurado queda informado y da su consentimiento libre, previo, expreso, inequívoco e informado, para el tratamiento y transferencia, nacional e internacional, de sus datos personales al banco de datos de titularidad de La Positiva, ubicado en su domicilio indicado en la presente póliza. 
            La Positiva utilizará estos datos, conjuntamente con otros que se pongan a disposición durante la relación comercial, y con aquellos obtenidos en fuentes accesibles al público, con la finalidad de analizar y manejar los riesgos materia del aseguramiento, gestionar la contratación y seguimiento de pólizas de seguros y evaluar la calidad del servicio. Asimismo, La Positiva utilizará los datos personales con fines publicitarios y comerciales a fin de remitir al Asegurado información sobre productos y servicios en el mercado financiero y de seguros que considere de su interés.
            El Asegurado reconoce y acepta que La Positiva podrá encargar el tratamiento de los datos personales a un tercero, y que se podrá realizar un procesamiento automatizado o no con dichos terceros por temas técnicos o comerciales.
            Los datos proporcionados serán incorporados, con las mismas finalidades a las bases de datos de empresas subsidiarias, filiales, asociadas, afiliadas o miembros del Grupo Económico al cual pertenece y/o terceros con los que éstas mantengan una relación contractual.
            Los datos suministrados por el Asegurado son esenciales para las finalidades indicadas. Las bases de datos donde se almacena la información cuentan con estrictas medidas de seguridad. En caso el Asegurado decida no proporcionarlos, no será posible la prestación de servicios por parte La Positiva.
            Conforme a ley, el Asegurado está facultado a ejercer los derechos de información, acceso, rectificación, supresión o cancelación y oposición que se detallan en www.lapositiva.com.pe, mediante el procedimiento que se indica en dicha dirección electrónica.
            </p><br>
            <h4 class="orange"><b>Información entregada a la positivia seguros & reaseguros</b></h4>
            <p>Se encuentra prohibido el uso de este sitio Web por parte de cualquier persona para fines contrarios a las normas de orden público.

            En el supuesto que alguna de las disposiciones contenidas en los presentes Términos y Condiciones de Uso sea declarada ilegal, inválida o nula, el resto de términos quedara vigente y aplicable para cualquier supuesto.
            </p><br>
            <h4 class="orange"><b>Las leyes que rigen</b></h4>
            <p>El uso de este sitio Web se regirá por  las leyes aplicables dentro del territorio peruano.</p>       
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- Modal -->
    <div id="contact" class="modal fade gray-base">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Contactanos</h4>
          </div>
          <div class="modal-body">
            <img style="width:100%;" src="img/banner.png" alt="Contáctanos">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container">
      <div class="col-md-8 center-block form-landing">
        <div class="row"><h1 class="text-center main-title alt-bold">asegurar tu casa nunca fue tan fácil</h1></div>
        <div class="row">
          <form role="form" id="cotizar" method="POST" action="#">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label text-xsmall" for="valor_vivienda">Valor de tu vivienda</label>
                <!-- <input id="valor_vivienda" name="valor_vivienda" type="text" class="form-control"> -->
                <select id="valor_vivienda" name="valor_vivienda" class="form-control">
                  <option value="1">S/.10,000 - S/.55,000</option>
                  <option value="2">S/.55,000 - S/.115.000</option>
                  <option value="3">S/.115.000 - S/.150.000</option>
                  <option value="4">S/.150.000 - S/.300.000</option>
                  <option value="5">S/.300.000 - S/.450.000</option>
                  <option value="6">S/.450.000 - S/.600.000</option>
                  <option value="7">S/.600.000 - Más</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label text-xsmall" for="tipo_vivienda">Tipo de vivienda</label>
                <input id="tipo_vivienda" name="tipo_vivienda" type="text" class="form-control" data-bv-notempty="true" data-bv-notempty-message="Este campo no puede estar vacío">
                <!-- <select id="tipo_vivienda" name="tipo_vivienda" class="form-control">
                  <option value="1">Departamento</option>
                  <option value="2">Casa</option>
                </select> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label text-xsmall" for="vivienda">Provincia</label>
                {exp:get_provincia_ciudad:provincia}
                <!-- <select id="vivienda" name="vivienda" class="form-control">
                  <option value="1">Option one</option>
                  <option value="2">Option two</option>
                </select> -->
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label text-xsmall" for="vivienda">Ciudad</label>
                <select id="ciudad" name="ciudad" class="form-control" data-bv-notempty="true">
                  <option value="CIUDAD" selected>CIUDAD</option>
                  <!-- <option value="1">Option one</option>
                  <option value="2">Option two</option> -->
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <button type="submit" class="pull-right btn btn-primary">COTIZAR</button>
            </div>
          </form>
        </div>
      </div>  
    </div>

    <div class="container-fluid">
      <div class="row social-networks">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li><a href="#" class="icon-facebook"></a></li>
            <li><a href="#" class="icon-twitter"></a></li>
            <li><a data-toggle="modal" href="#terms">Términos y condiciones</a></li>
            <li><a data-toggle="modal" href="#contact">Contáctanos</a></li>
            <li class="pull-right"><a href="#"><img class="right" src="{site_url}/images/img/logo_blanco.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>  



<!--     <span class="selector-big">
        {exp:get_provincia_ciudad:provincia}
    </span>
    <br>
    <span class="selector-big">
      <select name="ciudad" id="ciudad">
        <option value="CIUDAD" selected>CIUDAD</option>
      </select>
    </span> -->

{embed="includes/footer"}   
