{embed="includes/header"}   
	{exp:get_post_vars parse="inward"}
		{exp:registro_interesado:registrar_interesado 
			housing_value="{post_housing_value}"
			housing_type="{post_housing_type}"
			province="{post_province}"
			city="{post_city}"
			name="{post_name}"
			last_name="{post_last_name}"
			email="{post_email}"
			dni="{post_dni}"
			phone="{post_phone}"
			id_seguro="{post_id_seguro}"
		}
		{/exp:registro_interesado:registrar_interesado}

		{exp:mandrillapp:send_email_positiva 
			email_to="lineapositiva@lapositiva.com.pe" 
			name="{post_name} {post_last_name}" 
			email_from="lineapositiva@lapositiva.com.pe"
			email_client="{post_email}"
			plan_id="{post_id_seguro}"
			phone="{post_phone}"
			housing_value="{post_housing_value}"
			housing_type="{post_housing_type}"
			province="{post_province}"
			city="{post_city}"
		} 
		{/exp:mandrillapp:send_email_positiva}

		{exp:mandrillapp:send_email_client 
			email_to="{post_email}" 
			name="{post_name} {post_last_name}" 
			email_from="lineapositiva@lapositiva.com.pe"
			plan_id="{post_id_seguro}"
			housing_value="{post_housing_value}"
			housing_type="{post_housing_type}"
			province="{post_province}"
			city="{post_city}"			
		} 
		{/exp:mandrillapp:send_email_client}		


	  <body class="confirmacion">
			<div class="container">
	      <div class="col-md-8 center-block form-landing">
	        <div class="row">
	            <h1 class="text-center cotizador">{post_name} {post_last_name}</h1>
	            <p class="text-center ">Tu cotización ha sido enviada a:</p>
	            <p class="text-center correo">{post_email}</p>
	            <p class="text-center ">Acércate a nuestro punto de venta más cercano y contrata</p>
	            <p class="text-center ">tu seguro de inmediato.</p>
	            <div class="text-center">
	                <!-- <button type="button" class="btn btn-primary">VOLVER A COTIZAR</button> -->
	                <a href="http://aseguratuhogar.com.pe/" class="btn btn-primary">VOLVER A COTIZAR</a>
	            </div>
	        </div>
	      </div>  
	    </div>

	    <div class="container-fluid">
	      <div class="row social-networks">
	        <div class="col-md-12">
	          <ul class="nav nav-pills">
	            <li><a href="http://www.facebook.com/LaPositivaSeguros" target="_blank" class="icon-facebook"></a></li>
	            <li><a href="http://twitter.com/LaPositiva_Peru" target="_blank" class="icon-twitter"></a></li>
	            <li><a data-toggle="modal" href="#terms">Términos y condiciones</a></li>
	            <li><a data-toggle="modal" href="#contact">Contáctanos</a></li>
	            <li class="pull-right visible-md-block visible-lg-block hidden-xs"><a href="#"><img class="right" src="{site_url}/images/img/logo_color.png"></a></li>
	          </ul>
	        </div>
	      </div>
	      <div class="row hidden-md hidden-lg visible-xs-block">
          <div class="col-md-12  center-block">
              <ul class="nav nav-pills">
                <li><a href="#"><img class="right" src="{site_url}/images/img/logo_color.png"></a></li>
              </ul>
          </div>
	      </div>
	    </div>

		{exp:get_planes:get_btn_print_pdf plan_id="{post_id_seguro}" nombre="{post_name}" apellido="{post_last_name}"  telefono="{post_phone}"} 
		{/exp:get_planes:get_btn_print_pdf}

	  </body>
	{embed="includes/footer"} 	

{/exp:get_post_vars}

	<script>
		$(function() {
			$("#btnDownloadPdf").click(function() { 
			     location.href = this.href; // ir al link 
			});
			$("#btnDownloadPdf").click();
			$("#btnDownloadPdf").trigger( "click" );
		});
	</script>
