{embed="includes/header"}   
	{exp:get_post_vars parse="inward"}
		{exp:registro_interesado:registrar_interesado 
			housing_value="{post_housing_value}"
			housing_type="{post_housing_type}"
			province="{post_province}"
			city="{post_city}"
			name="{post_name}"
			last_name="{post_last_name}"
			email="{post_email}"
			dni="{post_dni}"
			phone="{post_phone}"
			id_seguro="{post_id_seguro}"
		}
		{/exp:registro_interesado:registrar_interesado}

		{exp:mandrillapp:send_email_positiva 
			email_to="freddy01288@gmail.com" 
			name="{post_name} {post_last_name}" 
			email_from="freddy01288@gmail.com"
			plan_id="{post_id_seguro}"
			phone="{post_phone}"
			email_client ="{post_email}"
		} 
		{/exp:mandrillapp:send_email_positiva}

		{exp:mandrillapp:send_email_client 
			email_to="freddy01288@gmail.com" 
			name="{post_name} {post_last_name}" 
			email_from="{post_email}"
			plan_id="{post_id_seguro}"
		} 
		{/exp:mandrillapp:send_email_client}		


	  <body class="confirmacion">
DemographiTest Scorescs	    <div class="container">
	      <div class="col-md-8 center-block form-landing">
	        <div class="row">
	            <h1 class="text-center cotizador">{post_name} {post_last_name}</h1>
	            <p class="text-center ">Tu cotización ha sido enviada a:</p>
	            <p class="text-center correo">{post_email}</p>
	            <p class="text-center ">Acércate a nuestro punto de venta más cercano y contrata</p>
	            <p class="text-center ">tu seguro de inmediato.</p>
	            <div class="text-center">
	                <!-- <button type="button" class="btn btn-primary">VOLVER A COTIZAR</button> -->
	                <a href="http://aseguratuhogar.com.pe/" class="btn btn-primary">VOLVER A COTIZAR</a>
	            </div>
	        </div>
	      </div>  
	    </div>

	    <div class="container-fluid">
	      <div class="row social-networks">
	        <div class="col-md-12">
	          <ul class="nav nav-pills">
	            <li><a href="http://www.facebook.com/LaPositivaSeguros" target="_blank" class="icon-facebook"></a></li>
	            <li><a href="http://twitter.com/LaPositiva_Peru" target="_blank" class="icon-twitter"></a></li>
	            <li><a data-toggle="modal" href="#terms">Términos y condiciones</a></li>
	            <li><a data-toggle="modal" href="#contact">Contáctanos</a></li>
	            <li class="pull-right"><a href="#"><img class="right" src="{site_url}/images/img/logo_blanco.png"></a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
<a href="{exp:pdf_press:save_to_pdf path='site/holapdf' attachment='0' filename='projects.pdf'}">descargar pdf</a>

	  </body>
	{/exp:get_post_vars}

    <script>
      $(function() {
        var tr = <?php echo "'tr'"; ?> ;
        var r = <?php echo "'r'"; ?> ;
        var ptr = <?php echo "'ptr'"; ?> ;
        var ptch = <?php echo "'ptch'"; ?> ;
        var dpch = <?php echo "'dpch'"; ?> ;
        var tpa = <?php echo "'tpa'"; ?> ;
        
        window.location="http://aseguratuhogar.com.pe/?ACT=35&path=content%2Fholapdf%3Fa%3Dname%26b%3Dsurname%26c%3Dpost_phone%26d%3Dpost_brand%26e%3Dpost_model%26f%3Dpost_ano%26g%3Dpost_version%26p%3Dpost_precio%26tr%3Dtr%26r%3Dr%26ptr%3Dptr%26ptch%3Dptch%26dpch%3Ddpch%26tp%3Dtpa&size=letter&orientation=portrait&attachment=1&filename=Cotizacion_Pack_Vehicular_La_Positiva.pdf"
      });
    </script>	
{embed="includes/footer"} 	